.policies-container {
    padding: 20px;
    background-color: #83084a;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .policies-title {
    font-size: 24px;
    color: #fd8a1f;
    margin-bottom: 16px;
  }
  
  .policies {
    margin-bottom: 24px;
  }
  
  .policy-item {
    font-size: 16px;
    color: white;
    margin-bottom: 8px;
    line-height: 1.5;
  }